@import "react-loading-skeleton/dist/skeleton.css";
@import 'antd/dist/antd.css';
@import "~bootstrap/scss/bootstrap";
@import "./_variables";
@import "./components/clear";

.card__wrapper {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}